@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f6f6ff;
  --foreground: #f6f6ff;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f6f6ff;
    --foreground: #f6f6ff;
  }
}

body {
  color: #1c2437;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

img {
  height: auto;
  width: auto;
}
